.product-img {
  width: 100%;
  height: auto;
}

.space {
  margin-top: 30px;
  margin-left: 30px;
}


#parent {
  display: flex;
}

.astext {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

hr {
  margin-top: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
}
