<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button [routerLink]="'./'">{{ title }}</a>
    <span class="toolbar-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/products'">Products</a>
      <a mat-button [routerLink]="'/categories'">Categories</a>
      <a mat-button [routerLink]="'/shopping-carts'"><mat-icon mat-list-icon>shopping_cart</mat-icon></a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
