<mat-list>
  <div mat-subheader>Shopping Cart</div>
  <mat-list-item *ngFor="let item of cart; let i = index">
    <mat-icon mat-list-icon>shopping_cart</mat-icon>
    <div mat-line>
      <p style="float: left">
        {{item.product._name}}
        <br>
        Size: {{item.size._name}} | Amount: {{item.amount}} x {{item.product._price}}€
      </p>
      <p style="float: right">
        <button mat-icon-button aria-label="remove item" (click)="removeElement(i)" title="Remove Item">
          <mat-icon>delete</mat-icon>
        </button>
      </p>
    </div>
  </mat-list-item>
</mat-list>

Total: {{total}}€
<div *ngIf="total != 0;else other">
  <br>
  <button mat-button aria-label="order" (click)="orderNow()" title="Order">
    <a mat-button [routerLink]="'/users'">Kaufen</a>
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>
<ng-template #other><br>Einakufswagen ist leer</ng-template>
