.ml-20 {
  margin-left: 20px;
}

.ml-mt {
  margin-left: 50px;
  margin-top: 20px;
}

#required {
  color: black;
}

#valid {
   color: green;
  margin-top: 5px;
  margin-left: 20px;
}

p {
  margin-left: 20px;
}

div span {
  color: grey;
}
