.product-img {
  width: 60%;
  height: auto;
}

a {
  margin-top: 30px;
  border-style: groove;
  border-color: black;
  text-decoration: none;
  color: black;
  margin-left: 10px;
  margin-bottom: 20px;
}

mat-grid-list {
  margin-left: 25px;
  margin-right: 25px;
}

#frame {
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 20px;
}
